<!-- Page Header -->
<header class="intro-header <%- is_post() ? 'is-post' : '' %>">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <% if (item.categories && item.categories.length) { %>
                        <div class="post-categories">
                            <% item.categories.each(function(category){ %>
                                <%- partial('_partial/article-category', {category: category}) %>
                            <% }); %>
                        </div>
                    <% } %>
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="post-subheading">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="meta">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                            Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                            <%= item.date.format(config.date_format) %>
                        <% } %>
                    </span>
                    <% if (item.tags && item.tags.length) { %>
                        <div class="post-tags">
                            <% item.tags.each(function(tag){ %>
                                <%- partial('_partial/article-tag', {tag: tag}) %>
                            <% }); %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>

<hr class="section-divider">

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>

            <!-- MD TOC -->
            <div class="visible-xs visible-sm visible-md col-md-10 col-md-offset-1">
                <div class="sidebar-heading mobile">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#article-toc-mobile" aria-expanded="false" aria-controls="article-toc-mobile">
                        <span class="fa fa-bars"></span>
                            Table of Contents
                    </button>
                </div>
                <nav class="post-toc mobile collapse" id="article-toc-mobile">
                    <%- toc(item.content, { max_depth: 2 }) %>
                </nav>
            </div>


            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <%- item.content %>

                <% if(theme.addthis) { %>
                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis %>"></script>

                    <!-- Go to www.addthis.com/dashboard to customize your tools -->
                    <div class="addthis_sharing_toolbox"></div>
                <% } %>
            </div>

            <!-- Table of Contents -->
            <div class="col-lg-3 hidden-md hidden-xs hidden-sm post-sidebar">
                <aside>
                    <div class="sidebar-heading">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#article-toc" aria-expanded="false" aria-controls="article-toc">
                            <span class="fa fa-bars"></span>
                                Table of Contents
                        </button>
                    </div>
                    <nav class="post-toc collapse in" id="article-toc">
                        <%- toc(item.content, { max_depth: 2 }) %>
                    </nav>
                </aside>
            </div>

            <!-- Comments -->
            <% if (item.comment != false) { %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>